.*
!.gitignore
_*

# --- node & rust build
node_modules/
target/

# --- No png except in dist or the app-icon.
# For generating the app icons, npm run tauri icon src-tauri/icons/app-icon.png)
*.png
!src-tauri/icons/app-icon.png

# --- No generated models on the front end
src/lib/sdk/generated-models

# --- Safety net
__pycache__/
npm-debug.log
report.*.json
*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz
*.mov
*.mp4

# images
*.ico
*.icns
*.jpeg
*.jpg


/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
../next-env.d.ts